In [12]:
import pandas as pd
import numpy as np
import seaborn as sns

In [13]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [14]:

df.head(5)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [15]:

df.tail(5)

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

#Considering there are built-in and non-built-in functions(methods) I think we can create andless amount of unique methods.So it can't be said that there are limited or a specific number of methods in programming languages.

### What is the number of data collected in each year?

In [16]:
''' Data can be collected from technological devices,by observing enviroment,interviewing humans etc.In todays world technology 
is probably the easiest and the fastest way to gather data about a specific topic.Which is probably also preferred because of
its advantages on analyzing fast and efficiently.Nearly everything that we see around us or things about us can be considered as data.
The collected datas can be as simple as our name,age, screen usage of our phone , how many likes a
post got or the plate number of the car which exceeded speed limit,number of population,number of car accidents etc.
These examples vary endlessly.
Therefore,it is impossible to calculate how many data is collected or can be collected each year.'''

' Data can be collected from technological devices,by observing enviroment,interviewing humans etc.In todays world technology \nis probably the easiest and the fastest way to gather data about a specific topic.Which is probably also preferred because of\nits advantages on analyzing fast and efficiently.Nearly everything that we see around us or things about us can be considered as data.\nThe collected datas can be as simple as our name,age, screen usage of our phone , how many likes a\npost got or the plate number of the car which exceeded speed limit,number of population,number of car accidents etc.\nThese examples vary endlessly.\nTherefore,it is impossible to calculate how many data is collected or can be collected each year.'

### Which columns have missing values and how many?

In [17]:

missing_value_count = df.isna().sum()
print(missing_value_count)

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [18]:
def do_something(x, y, z):
    """
    Takes 3 parameters,
    Finds the total of each parameters' inverse of multiplication 
    Stores it in a result variable
    Returns = one divided by the value of the result variable

    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [19]:
print(do_something.__doc__)

    Takes 3 parameters,
    Finds the sum of the each parameters' inverse of multiplication
    Stores it in a result variable
    Returns one over result

### Call do_something function for the (11,13,15) values and save it as result

In [20]:

result = do_something(11,13,15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [11]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
index = int(result)
blank_space = 0
will_be_erased = ""
for i in s:
    
    if(blank_space==3):
        will_be_erased = will_be_erased + i
    if (i==' '):
        blank_space+=1
  
result = s.replace(will_be_erased,"")

print(result)

I love Machine and Deep Learning

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [332]:
import random  

arr = [random.randint(1, 100) for i in range(10)]
index = [0,1,2,3,4,5,6,7,8,9]

temp = 0
print(arr)
for i in index[:10]:
    for j in index[i+1:10]:
        if arr[i]>=arr[j]:
            temp = arr[i]
            arr[i]=arr[j]
            arr[j]=temp

print(arr)

[4, 77, 44, 97, 100, 28, 62, 14, 88, 43]
[4, 14, 28, 43, 44, 62, 77, 88, 97, 100]

### define a recursive function to calculate input numbers factorial named factorial

In [333]:
def factorial():
    n = int(input("which numbers factorial do you want to find? (Please enter a natural number)"))
    factorial = 1
    if(n<0):
        print("Invalid entry.")
    elif(n==0):
        print(f"The factorial of 0!= 1")
    else:
        for i in range(1,n+1):
            factorial = factorial * i
        print(f"The factorial of {n} is {n}!={factorial}")
factorial()

The factorial of 4 is 4!=24

### define a function to merge the given arrays and calculate the median named twoMedian

In [1]:
import random

def calculate_median():
    arr_1 = [random.randint(1, 100) for i in range(10)]
    arr_2 = [random.randint(1, 100) for i in range(10)]
    merged_arr = arr_1 + arr_2

    two_median = 0
    temp = 0
    print("Merged Array:", merged_arr)

    for i in range(0, len(merged_arr)):
        for j in range(i + 1, len(merged_arr)):
            if merged_arr[i] >= merged_arr[j]:
                temp = merged_arr[i]
                merged_arr[i] = merged_arr[j]
                merged_arr[j] = temp

    print("Sorted Array:", merged_arr)

    if (len(merged_arr) % 2 == 0):
        mid_num = len(merged_arr) // 2
        two_median = (merged_arr[mid_num - 1] + merged_arr[mid_num]) / 2
        print("Median:", two_median)
    else:
        two_median = merged_arr[len(merged_arr) // 2]
        print("Median:", two_median)

calculate_median()

Merged Array: [11, 44, 53, 92, 36, 4, 49, 89, 33, 61, 24, 7, 60, 23, 13, 7, 39, 94, 39, 21]
Sorted Array: [4, 7, 7, 11, 13, 21, 23, 24, 33, 36, 39, 39, 44, 49, 53, 60, 61, 89, 92, 94]
Median: 37.5